@use "sass:math";

// Підключення міксинів ===========================================================================================================================================================================================================================================================================
@import "base/mixins";

// Підключення шрифтів ===========================================================================================================================================================================================================================================================================

// Підключити, якщо є локальні файли шрифтів
// @import "fonts/fonts";

// Підключення іконкових шрифтів ==============================================================================================================================================================================================================================================================================
// Підключити, якщо є файл іконкового шрифту
// @import "fonts/icons";
@import url('https://fonts.googleapis.com/css?family=DM+Sans:regular,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lexend+Deca:regular&display=swap');

// ============================================================================================================================================================================================================================================================================================================================================================================================
// Налаштування шаблону ============================================================================================================================================================================================================================================================================================================================================================================================
// ============================================================================================================================================================================================================================================================================================================================================================================================

// За замовчуванням шрифт ==============================================================================================================================================================================================================================================================================
$fontFamily: "DM Sans";
$font-secondary: "Lexend Deca";
// $fontSize: toRem(16); // де 14(px) - розмір шрифту за замовчуванням з макету

// Основні кольори
$mainColor: #6E645F; // Колір шрифту за замовчуванням
$white-color: #fff;
$accent-color: #F95454;
$bg-main-color: #DFCCC2;
$bg-green-color: #C5CEBD;
$bg-violet-color: #C2B8CC;

// Палітра кольорів
// @import "base/colors-palette";

// Налаштування адаптивної сітки ===============================================================================================================================================================================================================================================================================================

// Мінімальна ширина сторінки
$minWidth: 320;
// Ширина полотна (макету)
$maxWidth: 1920;
// Ширина обмежуючого контейнера (0 = немає обмеження)
$maxWidthContainer: 1440;
// Загальний відступ у контейнера
// (30 = по 15px ліворуч і праворуч, 0 = немає відступу)
$containerPadding: 100;

// Ширина спрацьовування першого брейкпоінту
$containerWidth: $maxWidthContainer + $containerPadding;

// Брейк-поїнти
$pc: toEm($containerWidth); // ПК, ноутбуки, деякі планшети у горизонтальному положенні
$tablet: toEm(991.98); // Планшети, деякі телефони в горизонтальному положенні
$mobile: toEm(767.98); // Телефони L
$mobileSmall: toEm(479.98); // Телефони S

// Тип адаптива:
// 1 = чуйність (у контейнера немає брейкпоінтів),
// 2 = по брейк-поїнт (контейнер змінює свою ширину по брейк-поїнт)
$responsiveType: 1;

// ============================================================================================================================================================================================================================================================================================================================================================================================
// ============================================================================================================================================================================================================================================================================================================================================================================================

// Обнулення ============================================================================================================================================================================================== =============================================================================================== ===============================================================================================
@import "base/null";

// Підключення компонентів tailwind ============================================================================================================================================================================================== =============================================================================================== ===========================================================================
// @import "libs/tailwind";

// Стилі тега BODY ============================================================================================================================================================================================================================================================================================================================================================================================
body {
	// scrollbar-gutter: stable;
	// Скролл заблоковано
	overflow-x: hidden;
	background-color: $bg-main-color;
    @include adaptiveValue ('font-size', 16, 14);
	.lock & {
		overflow: hidden;
		touch-action: none;
		overscroll-behavior: none;
	}
	.loaded & {
		transition: opacity .3s;
		opacity: 1;
	}
}
// Оболонка wrapper ============================================================================================================================================================================================================================================================================================================================================================================================================================================
.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	@supports (overflow: clip) {
		overflow: clip;
	}
	// Притискаємо footer
	> main {
		flex: 1 1 auto;
	}
	// Фікс для слайдерів
	> * {
		min-width: 0;
	}
}
// Обмежуючий контейнер ======================================================================================================================================================================================================================

// (i) Стилі будуть застосовуватись до
// всіх класів, що містять *__container
// Наприклад header__container, main__container і т.п.
// Сніппет (HTML): cnt

@if ($responsiveType==1) {
	// Чуйна
	[class*="__container"] {
		@if ($maxWidthContainer>0) {
			max-width: toRem($containerWidth);
			margin: 0 auto;
		}
		@if ($containerPadding>0) {
			@if ($maxWidthContainer>0) {
				padding: 0 toRem(math.div($containerPadding, 2));
			} @else {
				@include adaptiveValue("padding-left", math.div($containerPadding, 2), 15);
				@include adaptiveValue("padding-right", math.div($containerPadding, 2), 15);
			}
		}
	}
} @else {
	// Брейк-поїнтами
	[class*="__container"] {
		margin: 0 auto;
		@if ($maxWidthContainer>0) {
			max-width: toRem($containerWidth);
		} @else {
			@if ($containerPadding>0) {
				padding: 0 toRem(math.div($containerPadding, 2));
			}
		}
		@media (max-width: $pc) {
			max-width: toRem(970);
		}
		@media (max-width: $tablet) {
			max-width: toRem(750);
		}
		@media (max-width: $mobile) {
			max-width: none;
			@if ($containerPadding>0 and $maxWidthContainer>0) {
				padding: 0 toRem(math.div($containerPadding, 2));
			}
		}
	}
}

// (i) Експерементальний функціонал
// Заміна обмежуючому контейнеру
[class*="--gc"] {
	@include gridContainer();
}

// Підключення базових стилів, шаблонів (заготівель) та допоміжних класів
// Для підключення/вимкнення конкретних стилів дивись base.scss
@import "base";

// Підключення стилів загальних елементів проекту
@import "common";

// Підключення стилів окремих блоків
@import "header";
@import "footer";

// Підключення стилів окремих сторінок
@import "home";

// ============================================================================================================================================================================================================================================================================================================================================================================================

.hero {
	padding-top: toRem(100);
	padding-bottom: toRem(100);
	min-height: 100svh;
	display: flex;
	align-items: center;
	@include adaptiveValue ('padding-top', 100, 60);
	@include adaptiveValue ('padding-bottom', 100, 60);
	// .hero__container
	&__container {
		flex-grow: 1;
	}
	// .hero__row
	&__row {
		display: grid;
		grid-template-columns: 32.466% 46.606335% auto;
		max-width: toRem(1000); /* 884/1440 */
		margin: 0 auto;
		@media (max-width: $mobile) {
			grid-template-columns: 1fr 30%;
			grid-template-rows: auto auto;
			row-gap: toRem(40);
			grid-template-areas:'text text'
			'hero round';
		}
		@media (max-width: toEm(499.99)) {
			grid-template-columns: auto;
			grid-template-rows: auto auto auto;
			row-gap: toRem(20);
			grid-template-areas:'text'
			'hero'
			'round';
		}
	}
	// .hero__title
	&__title-item {
		margin-right: toRem(-114);
		max-width: 372px;
		margin-left: 20px;
		z-index: 1;
		@include adaptiveValue ('margin-left', 20, 0, 0, $maxWidthContainer, 991.98);
		@media (max-width: $mobile) {
			margin-right: toRem(0);
			grid-area: text;
			max-width: 100%;
		}
	}
	&__title {
		transform: translate(0, 30%); /* 55/459 */
		transform: translate(0, 50%); /* 55/459 */
		opacity: 0;
		._watcher-view & {
			transform: translate(0, 35.416%); /* 55/459 */
			opacity: 1;
			transition: all 1s .1s;
			@media (max-width: $mobile) {
				transform: translate(0, 0);
			}
		}
	}
	// .hero__picture-main
	&__picture-main {
		width: 100%;
		position: relative;
		@media (max-width: $mobile) {
			grid-area: hero;
		}
	}
	// .hero__picture-main--img
	&__picture-img {
		aspect-ratio: 412 / 459;
		overflow: hidden;
		height: 100%;
		width: 100%;
		object-fit: cover;
		box-shadow: 0 20px 37px 0 #0000000f;
		border-radius: 3px;
		opacity: 0;
		transform: translate(0, 5%);
		._watcher-view & {
			opacity: 1;
			transition: all 1s .1s;
			transform: translate(0, 0);
		}
	}
	// .hero__deco
	&__deco {
		position: absolute;
	}
	// .hero__deco-one
	&__deco-one {
		bottom: -13.834%;
		left: -19.389%;
		z-index: -1;
		max-width: 47.815534%;
		& img {
			width: 100%;
			aspect-ratio: 172 / 200;
			overflow: hidden;
			object-fit: contain;
			transform: scale(0) rotate(-20deg);
			._watcher-view & {
				transform: scale(1) rotate(0deg);
				transition: all 1s 1s;
			}
		}
		@media (max-width: toEm(499.99)) {
			top: 19.389%;
			bottom: unset;
		}
	}
	// .hero__deco-two
	&__deco-two {
		bottom: -20.261%;
		right: -19.902%;
		z-index: -1;
		max-width: 57.281%;
		& img {
			transform: rotate(85deg) scale(0);
			width: 100%;
			aspect-ratio: 237 / 183;
			overflow: hidden;
			object-fit: contain;
			._watcher-view & {
				transform: rotate(105deg) scale(1);
				transition: all 1s 1s;
			}
		}
	}
	// .hero__deco-three
	&__deco-three {
		top: -15.468%;
		right: -27.912%;
		max-width: 54.126%;
		z-index: -1;
		& img {
			width: 100%;
			transform: rotate(-20deg) scale(0);
			overflow: hidden;
			object-fit: contain;
			aspect-ratio: 223 / 183;
			._watcher-view & {
				transform: rotate(0deg) scale(1);
				transition: all 1s 1s;
			}
		}
	}
	// .hero__column
	&__column {
		@media (max-width: toEm(499.99)) {
			display: flex;
			align-items: center;
		}
	}
	// .hero__picture-round
	&__picture-round {
		width: 130%;
		grid-area: round;
		& img {
			transform: translate(-26.748%, 3.292%) scale(0);
			aspect-ratio: 243 / 243;
			width: 100%;
			height: 100%;
			border-radius: 50%;
			overflow: hidden;
			object-fit: cover;
			._watcher-view & {
				transform: translate(-26.748%, 3.292%) scale(1);
				transition: all 1s 1s;
			}
		}
		@media (max-width: toEm(499.99)) {
			flex: 0 0 50%;
		}
	}
	// .hero__text
	&__text {
		width: 100%;
		margin-top: toRem(39);
		margin-left: auto;
		z-index: -1;
		position: relative;
		@media (max-width: toEm(499.99)) {
			margin-top: 0;
			margin-left: unset;
		}
		& p {
			opacity: 0;
			transform: translate(-100%, 0);
			padding-left: toRem(36);
			@include adaptiveValue ('padding-left', 36, 10);
			._watcher-view & {
				transform: translate(0, 0);
				opacity: 1;
				transition: all 1s .5s;
				position: relative;
				z-index: -1;
			}
		}
	}
}

// ============================================================================================================================================================================================================================================================================================================================================================================================

.focused {
	// .focused__row
	&__row {
		max-width: toRem(1240);
		margin: 0 auto;
		display: grid;
		grid-template-columns: 25.16% auto 29.43%;
		column-gap: toRem(80);
		margin-top: toRem(17);
		margin-bottom: toRem(35);
		@include adaptiveValue ('column-gap', 80, 15);
		@media (max-width: $mobile) {
			display: flex;
			flex-direction: column;
			max-width: 100%;
		}
	}	
	// .focused__column-one
	&__column-one {
		@media (max-width: $mobile) {
			align-self: flex-end;
			max-width: 50%;
			width: 100%;
		}
		@media (max-width: toEm(499.99)) {
			max-width: 100%;
			align-self: center;
		}
	}
	// .focused__picture
	&__picture {
		position: relative;
	}
	// .focused__img-one
	&__img-one {
		aspect-ratio: 312 / 385;
		overflow: hidden;
		height: 100%;
		width: 100%;
		object-fit: cover;
		border-radius: 3px;
	}
	// .focused__deco
	&__deco {
		z-index: -1;
		position: relative;
	}
	// .focused__deco-one
	&__deco-one {
		position: absolute;
		width: 111%;
		bottom: -28.051%;
		left: -53.205%;
		z-index: -1;
		aspect-ratio: 346 / 342;
		stroke-dashoffset: 1500;
		stroke-dasharray: 1500;
		._watcher-view & {
			transition: all linear 2.5s .2s;
			stroke-dashoffset: 0;
		}
	}
	// .focused__column-two
	&__column-two {
		& div {
			max-width: toRem(387);
			@media (max-width: $mobile) {
				max-width: 100%;
			}
		}
	}
	// .focused__title-item
	&__title-item {
		margin-top: calc(33.333333%);
		margin-bottom: toRem(20);
		@media (max-width: $mobile) {
			margin-top: 0;
			margin-bottom: toRem(10);
		}
	}
	// .focused__column-three
	&__column-three {
		display: flex;
		align-items: flex-end;
		@media (max-width: $mobile) {
			align-self: flex-start;
			max-width: 50%;
			width: 100%;
		}
		@media (max-width: toEm(499.99)) {
			max-width: 100%;
			align-self: center;
		}
	}
	// .focused__picture-two
	&__picture-two {
		// justify-self: flex-end;
		@media (max-width: toEm(499.99)) {
			width: 100%;
		}
	}
	// .focused__img-two
	&__img-two {
		aspect-ratio: 365 / 530;
		overflow: hidden;
		height: 100%;
		width: 100%;
		object-fit: cover;
		transform: translate(0, 24.339%);
		border-radius: 3px;
		@media (max-width: $mobile) {
			transform: translate(0, 0);
		}
	}
	// .focused__deco-two
	&__deco-two {
		position: absolute;
		width: 134.79%;
		bottom: -15.094%;
		left: -89.315%;
		z-index: -1;
		aspect-ratio: 492 / 369;
		stroke-dashoffset: 1500;
		stroke-dasharray: 1500;
		._watcher-view & {
			transition: all linear 2.5s .2s;
			stroke-dashoffset: 0;
		}
		@media (max-width: $mobile) {
			left: 50%;
		}
	}
}

// ============================================================================================================================================================================================================================================================================================================================================================================================

.love {
	background-color: $bg-green-color;
	padding-top: toRem(150);
	padding-bottom: toRem(150);
	@include adaptiveValue ('padding-top', 150, 60);
	@include adaptiveValue ('padding-bottom', 150, 60);
	// .love__row
	&__row {
		max-width: 1440px;
		margin: 0 auto;
		display: grid;
		grid-template-columns: 38.75% 1fr 29%;
		grid-template-rows: auto;
		column-gap: toRem(10);
		position: relative;
		padding-left: 0;
		padding-right: 0;
		@media (max-width: $mobile) {
			grid-template-columns: 1fr 29%;
			grid-template-rows: auto auto;
			grid-template-areas:'image image' 
								'text hair';
		}
		@media (max-width: toEm(499.99)) {
			grid-template-columns: 1fr;
			grid-template-rows: auto auto auto;
			grid-template-areas:'image' 
								'text'
								'hair';
		}
	}
	// .love__img-column
	&__img-column {
		position: relative;
		& >img {
			aspect-ratio: 558 / 704;
			overflow: hidden;
			height: 100%;
			width: 100%;
			object-fit: cover;
			border-top-right-radius: 3px;
			border-bottom-right-radius: 3px;
			box-shadow: 0 4px 4px 0 #00000040;
			z-index: 1;
			position: relative;
		}
		@media (max-width: $mobile) {
			grid-area: image;
		}
	}
	// .love__deco
	&__deco {
		position: absolute;
		right: -20.788%;
		bottom: -13.352%;
		transform: rotate(-164deg);
		z-index: 0;
		max-width: 39.60%;
		& img {
			aspect-ratio: 222 / 232;
			overflow: hidden;
			width: 100%;
			object-fit: cover;
			transform: scale(0) rotate(-20deg);
			._watcher-view & {
				transform: scale(1) rotate(0deg);
				transition: all 1s 1s;
			}
		}
	}
	// .love__text-column
	&__text-column {
		@media (max-width: $mobile) {
			grid-area: text;
			padding-right: toRem(10);
			padding-left: toRem(15);
		}
		@media (max-width: toEm(499.99)) {
			padding-right: toRem(15);
		}
	}
	// .love__title-item
	&__title-item {
		z-index: 1;
		position: relative;
	}
	// .love__title
	&__title {
		max-width: toRem(402);
		transform: translate(-18.656%, 0);
		margin-top: 33.333%;
		margin-bottom: toRem(40);
		@include adaptiveValue("margin-bottom", 40, 20);
		@media (max-width: $tablet) {
			width: 118.656%;
		}
		@media (max-width: $mobile) {
			margin-top: 0;
			transform: translate(0, 0);
			width: 100%;
			max-width: 100%;
		}
	}
	// .love__text
	&__text {
		margin-left: toRem(46);
		margin-right: toRem(10);
		max-width: toRem(308);
		@include adaptiveValue("margin-left", 46, 10, 0, $maxWidth, 768);
		@media (max-width: $mobile) {
			max-width: 100%;
			margin-left: 0;
			margin-right: 0;
		}
	}
	// .love__hair-column
	&__hair-column {
		display: flex;
		align-items: flex-end;
		position: relative;
		@media (max-width: $mobile) {
			grid-area: hair;
		}
	}
	&__img-item {
		align-self: flex-end;
		margin-top: auto;
		margin-right: toRem(80);
		z-index: 2;
		& img {
			width: 100%;
			transform: translate(0, 52.75%);
			overflow: hidden;
			object-fit: cover;
			aspect-ratio: 338 / 400;
			border-radius: 3px;
			@media (max-width: $mobile) {
				transform: translate(-5%, 52.75%);
			}
			@media (max-width: toEm(499.99)) {
				transform: translate(0, 0);
			}
		}
		@include adaptiveValue("margin-right", 80, 10);
		@media (max-width: $mobile) {
			margin-top: 0;
			margin-right: 0px;
		}
	}
	// .love__deco-svg
	&__deco-svg {
		position: absolute;
		right: -30.14%;
		bottom: -29.843%;
		width: 130%;
		height: 100%;
		stroke-dashoffset: 1500;
		stroke-dasharray: 2000;
		._watcher-view & {
			transition: all linear 2.5s .2s;
			stroke-dashoffset: 0;
		}
	}
	// .love__deco-img
	&__deco-img {
		position: absolute;
		right: -14.333%;
		bottom: 11.673%;
		max-width: 26.66%;
		width: 100%;
		& img {
			aspect-ratio: 400 / 400;
			overflow: hidden;
			height: 100%;
			width: 100%;
			object-fit: cover;
			border-radius: 50%;
		}
		@media (max-width: $mobile) {
			bottom: 5%;
			max-width: 40%;
			right: -22%;
		}
	}
}

// ============================================================================================================================================================================================================================================================================================================================================================================================

.services {
	padding-top: toRem(80);
	padding-bottom: toRem(80);
	@include adaptiveValue("padding-top", 80, 40);
	@include adaptiveValue("padding-bottom", 80, 60);
	// .services__title
	&__title {
		width: 100%;
		text-align: center;
		margin-bottom: toRem(106);
		@include adaptiveValue("margin-bottom", 106, 40);
	}
	// .services__link
	& .link {
		max-width: toRem(868);
		margin: 0 auto;
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		gap: toRem(10);
		// .link__column
		&__column {
			display: flex;
			flex-direction: column;
			gap: toRem(32);
			position: relative;
			max-width: toRem(190);
			width: 100%;
			@include adaptiveValue("gap", 32, 20);
			&:nth-child(even) {
				flex-direction: column-reverse;
			}
		}
		// .link__img-item
		&__img-item {				
			&:hover + .link__subtitle,
			&:active + .link__subtitle,
			&:focus + .link__subtitle {
				color: $accent-color;
				transition: .3s;
			}
		}
		// .link__img
		&__img {
			overflow: hidden;
			height: 100%;
			width: 100%;
			object-fit: cover;
			z-index: 1;
			position: relative;
		}
		// .link__img-one
		&__img-one {	
			aspect-ratio: 190 / 325;
		}
		// .link__subtitle
		&__subtitle {
			align-self: flex-start;
			cursor: pointer;
			z-index: 1;
			position: relative;
			&:hover,
			&:active,
			&:focus {
				color: $accent-color;
				transition: .3s;
			}
		}		
		// .link__column-two
		&__column-two {
			margin-top: 17.053%;
			position: relative;
			&._watcher-view {
				& .link__deco-two {
					transition: all 1s 1s;
					transform: translate(38.14%, 221.35%) scale(1) rotate(0deg);
				}
			}
		}
		// .link__img-two
		&__img-two {	
			aspect-ratio: 188 / 546;
		}
		// .link__deco-two
		&__deco-two {
			width: 100%;
			position: absolute;
			width: 116.48%;
			aspect-ratio: 219 / 203;
			top: 0;
			right: 0;
			transform: translate(38.14%, 221.35%) scale(0) rotate(20deg);
		}
		// .link__column-three
		&__column-three {
			margin-top: 10%;
			position: relative;
			&._watcher-view {
				& .link__deco-three {
					transition: all 1s 1s;
					transform: translate(66.263%, -73.04%) scale(1) rotate(92deg);
				}
			}
		}
		// .link__img-three
		&__img-three {	
			aspect-ratio: 190 / 379;
		}
		// .link__deco-three
		&__deco-three {
			width: 114.73%;
			aspect-ratio: 218 / 168;
			position: absolute;
			bottom: 0;
			right: 0;
			transform: translate(66.263%, -73.04%) scale(0) rotate(112deg);
		}
	}
	// .link__content
	& .content {
		max-width: 50%;
		text-align: right;
		display: flex;
		flex-direction: column;
		align-items: end;
		gap: toRem(27);
		padding-right: toRem(43);
		margin-top: toRem(-105);
		z-index: 2;
		position: relative;
		@include adaptiveValue("margin-top", -105, -40);
		@media (max-width: $tablet) {
			max-width: 100%;
			align-items: center;
			text-align: center;
			padding-right: toRem(0);
		}
		// .content__title
		&__title {
			max-width: toRem(317);
			@media (max-width: $tablet) {
				max-width: 100%;
			}
		}
	}
}

// ============================================================================================================================================================================================================================================================================================================================================================================================

.passion {
	position: relative;
	// .passion__container
	&__container {
		aspect-ratio: 1440 / 720;
		display: flex;
		z-index: 2;
		position: relative;
		flex-direction: column;
		text-align: center;
		justify-content: flex-end;
		align-items: center;
		gap: toRem(16);
		@include adaptiveValue ('gap', 16, 10);
		@media (max-width: $mobile) {
			min-height: toRem(450);
			aspect-ratio: unset;
		}
	}
	// .passion__text
	&__text {
		max-width: toRem(400);
		margin-bottom: 6%; /* 1/6 */
		@media (max-width: $mobile) {
			max-width: 100%;
		}
	}	
	// .passion__text-bg
	&__text-bg {
		position: absolute;
		font-weight: 700;
		font-size: toRem(16);
		letter-spacing: toRem(2);
		color: $white-color;
		text-transform: uppercase;
		top: toRem(-194);
		right: toRem(167);
		top: -25.5%;
		z-index: 1;
		writing-mode: vertical-lr;
		@include adaptiveValue ('font-size', 16, 14);
		@include adaptiveValue ('right', 167, 20);
		@include adaptiveValue ('letter-spacing', 2, 1);
	}
	// .passion__bg-image
	&__bg-image {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
	}
}

// ============================================================================================================================================================================================================================================================================================================================================================================================

.best {
	padding-top: toRem(150);
	padding-bottom: toRem(150);
	background-color: $bg-violet-color;
	@include adaptiveValue ('padding-top', 150, 30);
	@include adaptiveValue ('padding-bottom', 150, 40);
	// .best__row 
	&__row {
		max-width: toRem(871);
		margin: 0 auto;
		display: grid;
		align-items: flex-start;
		grid-template-columns: 29.276% 36.050% 34.672%;
		grid-template-rows: auto;
		@media (max-width: $tablet) {
			grid-template-columns: 40% 1fr;
			grid-template-rows: auto auto;
		}
		@media (max-width: toEm(499.99)) {
			grid-template-columns: 1fr;
			grid-template-rows: auto auto auto;
			grid-auto-flow: row;
			row-gap: toRem(20);
			@include adaptiveValue ('row-gap', 20, 10);
		}
	}
	// .best__column-img
	&__column-img {
		margin-bottom: -27.45%;
		z-index: 2;
		align-self: flex-end;
		@media (max-width: $tablet) {
			align-self: flex-start;
			margin-top: -27.45%;
		}
		@media (max-width: toEm(499.99)) {
			align-self: center;
			margin-top: 0;
			margin-bottom: 0;
		}
	}
	// .best__img-img
	&__img-img {
		aspect-ratio: 255 / 229;
		width: 100%;
		height: 100%;
		object-fit: cover;
		overflow: hidden;
		border-radius: 3px;
	}
	// .best__column-main
	&__column-main {
		align-self: center;
		margin-left: -18.47%;
		margin-right: -27.70%;
		position: relative;
		@media (max-width: toEm(499.99)) {
			margin-left: 0;
			margin-right: 0;
			z-index: 2;
		}
	}		
	// .best__deco-svg
	&__deco-svg {
		aspect-ratio: 223 / 250;
		position: absolute;
		width: 51.528%;
		top: 0;
		left: 0;
		transform: translate(0, 0) rotate(114deg) scale(0);
		._watcher-view & {
			transform: translate(-86.886%, 61.941%) rotate(94deg) scale(1);
			transition: all 1s 1s;
		}
	}
	// .best__main-img 
	&__main-img {
		z-index: 1;
		aspect-ratio: 458 / 510;
		width: 100%;
		height: 100%;
		object-fit: cover;
		overflow: hidden;
		border-radius: 3px;
		position: relative;
	}
	// .best__deco-figure
	&__deco-figure {
		aspect-ratio: 219 / 321;
		position: absolute;
		width: 47.816%;
		bottom: 0;
		right: 0;
		transform: scale(0) translate(32.717%, -40.529%) rotate(23deg);
		._watcher-view & {
			transform: scale(1) translate(32.717%, -40.529%) rotate(43deg);
			transition: all 1s 1s;
		}
	}
	// .best__column-content
	&__column-content {
		margin-top: -33.774%;
		z-index: 2;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 32px;
		@include adaptiveValue ('gap', 32, 10);
		@media (max-width: $tablet) {
			grid-column: span 2;
		}
		@media (max-width: toEm(499.99)) {
			align-self: center;
			margin-top: 0;
			grid-row: 3/4;
			grid-column: 1/2;
		}
	}
	// .best__content-img
	&__content-img {
		aspect-ratio: 302 / 251;
		width: 100%;
		height: 100%;
		object-fit: cover;
		overflow: hidden;
		border-radius: 3px;
		margin-bottom: 75px;
		@include adaptiveValue ('margin-bottom', 75, 20);
	}
	// .best__title
	&__title {
		margin-left: toRem(22);
		@media (max-width: $tablet) {
			margin-left: 0;
		}
	}
	// .best__btn
	&__btn {
		margin-left: toRem(22);
		@media (max-width: $tablet) {
			margin-left: 0;
		}
	}
}